@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Gentium+Book+Plus&family=Playfair+Display:ital@1&display=swap');

body::-webkit-scrollbar{
  display: none;
}
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Gentium Book Plus',serif;
}

